

@main("Form"){
    <h1>USer Form</h1>
    <form method="GET" action="validate">
        <h2>Getting Information with a GET Request</h2>
        <br>
        Name:<input type="text" name="name"></input>
        <br>
        Favorite Color:<input type="text" name="color"></input>
        <br>
        <input type="submit"></input>

    </form>
    <form method="POST" action="validatePost">
        <h2>Getting Information with a POST Request</h2>
        <br>
        Name:<input type="text" name="name"></input>
        <br>
        Favorite Color:<input type="text" name="color"></input>
        <br>
        <input type="submit"></input>

    </form>
  }